{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/client"
    ],
    "root": true,
    "env": {
        "node": true,
        "jest": true
    }
}
